<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prodaja_DAL.Properties.Settings.ProdajaSQLConnectionString"
            connectionString="Data Source=DESKTOP-NVVEHF7\SQLEXPRESS;Initial Catalog=ProdajaSQL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>